[project]
	description = test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dillsvarma
[access "refs/for/refs/*"]
	read = group user/dillsvarma
	push = group user/dillsvarma
	label-Code-Review = -2..+2 group user/dillsvarma
	label-Verified = -1..+1 group user/dillsvarma
	rebase = group user/dillsvarma
	removeReviewer = group user/dillsvarma
	submit = group user/dillsvarma
[access "refs/heads/*"]
	read = group user/dillsvarma
	create = group user/dillsvarma
	push = +force group user/dillsvarma
	pushMerge = group user/dillsvarma
[access "refs/tags/*"]
	push = group user/dillsvarma
	push = +force group user/dillsvarma
